In [5]:
data = {'Name': ['Karan','Deepa','Karthik','Chandan','Jeevan'], 'Exam1':[85,70,90,75,95],'Exam2':[90,80,85,70,92],'Final Exam':[92,85,88,75,96]}

In [12]:
import pandas as pd
import scipy.stats as stats

# Load the data
df = pd.DataFrame(data)

# Calculate the mean scores of all the students
df['Mean Scores'] = df.mean(axis=1)
df.head()

/var/folders/g0/r19hh3h160190qhn7751f6vr0000gn/T/ipykernel_33649/3192991814.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['Mean Scores'] = df.mean(axis=1)

      Name  Exam1  Exam2  Final Exam  Mean Scores
0    Karan     85     90          92    89.000000
1    Deepa     70     80          85    78.333333
2  Karthik     90     85          88    87.666667
3  Chandan     75     70          75    73.333333
4   Jeevan     95     92          96    94.333333

In [14]:
df.mean(axis=0)

/var/folders/g0/r19hh3h160190qhn7751f6vr0000gn/T/ipykernel_33649/2681518468.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean(axis=0)

Exam1          83.000000
Exam2          83.400000
Final Exam     87.200000
Mean Scores    84.533333
dtype: float64