Question 4 python:

In [3]:
import pandas as pd
import requests

def download_and_convert_to_csv(link):
    # Download the data from the provided link
    response = requests.get(link)
    data = response.json()

    # Extract the required attributes from the data
    structured_data = []
    for meteorite in data:
        try:
            meteorite_data = {
                "name": meteorite.get("name"),
                "id": meteorite.get("id"),
                "nametype": meteorite.get("nametype"),
                "recclass": meteorite.get("recclass"),
                "mass": meteorite.get("mass"),
                "year": meteorite.get("year"),
                "reclat": meteorite.get("reclat"),
                "reclong": meteorite.get("reclong")
            }
            structured_data.append(meteorite_data)
        except KeyError as e:
            print(f"KeyError: {e} - Skipping meteorite")

    # Convert the structured data to a DataFrame
    df = pd.DataFrame(structured_data)

    # Convert the DataFrame to a CSV file
    csv_file = "earth_meteorites.csv"
    df.to_csv(csv_file, index=False)

    return csv_file

# Example usage
input_link = "https://data.nasa.gov/resource/y77d-th95.json"
output_csv = download_and_convert_to_csv(input_link)
print("Data downloaded and converted to CSV:", output_csv)

Data downloaded and converted to CSV: earth_meteorites.csv

In [4]:
# Load the data from the CSV file
data = pd.read_csv("earth_meteorites.csv")
data.head()

,name,id,nametype,recclass,mass,year,reclat,reclong
0,Aachen,1,Valid,L5,21.0,1880-01-01T00:00:00.000,50.77500,6.08333
1,Aarhus,2,Valid,H6,720.0,1951-01-01T00:00:00.000,56.18333,10.23333
2,Abee,6,Valid,EH4,107000.0,1952-01-01T00:00:00.000,54.21667,-113.00000
3,Acapulco,10,Valid,Acapulcoite,1914.0,1976-01-01T00:00:00.000,16.88333,-99.90000
4,Achiras,370,Valid,L6,780.0,1902-01-01T00:00:00.000,-33.16667,-64.95000